.background-details {
    background: linear-gradient(45deg, $details 10%, $secondary-details 90%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-details {
    background-color: $main;
    width: 300px;
    height: 500px;
    box-shadow: 0 5px 30px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
    }

    .icon {
        display: block;
        text-align: end;
        text-decoration: none;
        align-self: flex-end;
        color: $details;
        font-size: 30px;
        padding: 10px;
        margin-left: auto;
    }

    .img-details {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        border: 5px solid $details;
    }


    .card-text-container-details {
        padding: 10px;
        text-align: center;

        h3 {
            @include title;
            color: $details;
        }

        p {
            @include text;
            color: black;
        }

        img {
            height: 60px;
            height: 60px;
            padding: 10px;
        }

    }
}



@media (min-width: 768px) {
    .card-details {
        width: 400px;
        height: 600px;

        .img-details {
            height: 300px;
            width: 300px;
        }
    }
}