.header-container {
   display: block;
   text-align: center;

    .header-image {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 900px;
        margin: auto;
    }
}