.card-character {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    
    &:before {
        content: '';
        background: linear-gradient(
            to bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0.7) 100%
        );
        width: 100%;
        height: 50%;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        transition-property: top, opacity;
        transition-duration: $anim-speed;
    }
    
    .card-img {
        display: block;
        max-width: 100%;
    
    }
    
    .card-text-container {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        
        .card-title .card-specie {
            display: block;
            opacity: 0;
            position: relative;
            top: 100px;
            transition-property: top, opacity;
            transition-duration: $anim-speed;
            transition-delay: 0s;
        }
        
    }
    
    &:focus,
    &:hover {
        
        &::before,
        .card-title .card-specie  {
            opacity: 1;
        }
        
        &::before {
            top: 50%;
        }
        
        .card-title .card-specie  {
            top: 0;
        }
        
        .card-title {
            transition-delay: 0.15s;
        }
        
        .card-specie {
            transition-delay: 0.25s;
        }
    }
}