.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    .card {
        grid-column: 2/3;
        text-align: center;
        text-decoration: none;




        a {
            text-decoration: none;
        }
    }

    .card-character {

        .card-img {
            height: 300px;
            width: 300px;
            border-radius: 5px;
            box-shadow: 0 10px 50px lightslategrey;
        }

        .card-text-container {
            padding: 10px;


            .card-title {
                font-family: $primary-font;
                padding: 5px;
                line-height: 1;
                font-weight: 600;
                font-size: 18px;
            }

            .card-specie {
                font-family: $secondary-font;
                padding: 5px;
                margin-top: 5px;
                font-size: 16px;

            }

        }
    }
}


@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .card {
            display: contents;
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: center;
        }
    }
}

@media (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .card {
            display: contents;
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: center;
        }
    }
}