.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    .card {
        grid-column: 2/3;
        text-align: center;
        text-decoration: none;




        a {
            text-decoration: none;
        }
    }

    .card-character {
        box-shadow: 0 5px 30px lightslategrey;
        .card-img {
            height: 300px;
            width: 300px;
            border-radius: 5px;
           
        }

        .card-text-container {
            padding: 10px;


            .card-title {
               @include title;
            }

            .card-specie {
                @include text;

            }

        }
    }
}


@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .card {
            display: contents;
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: center;
        }
    }
}

@media (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .card {
            display: contents;
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: center;
        }
    }
}