 @mixin title {
     font-family: $primary-font;
     padding: 5px;
     line-height: 1;
     font-weight: 600;
     font-size: 18px;
 }

 @mixin text {
     font-family: $secondary-font;
     padding: 5px;
     margin-top: 5px;
     font-size: 16px;
 }